<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./css/bootstrap-theme.min.css"/>
        <script src="./js/bootstrap.min.js" ></script>
        <script src="./js/vue.js"></script>
        <script src="./js/axios.min.js"></script>
        <style>
            .selected {
                background-color: rgb(204, 246, 247);
            }
            td {
                padding: 0;
                margin: 0;
                border-right: solid 1pt lightyellow;
            }
        </style>
    </head>

    <body onload="onLoad()")>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navar-header">
                    <a class="navbar-brand" href="#">Management furnir</a>
                </div>
                <ul class="nav navbar-nav">
                    <li id="mnuMutare" class="active"><a href="#" onclick="showMutareFurnir()">Mutare furnir</a></li>
                    <li id="mnuAdministrare"><a href="#" onclick="showAdministrare()">Administrare</a></li>
                    <li onclick="printOperations()"><a href="#">Imprima operatii</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><div class="navar-header">
                        <img src="images/logo1mic.png" class="navbar-brand" style="padding:0"/>
                    </div></li>
                  </ul>                  
            </div>
        </nav>
        <div class="container-fluid" id ="container">
            <div id="pallet-transfer" class="col-xs-12" >
                <pallet-transfer-wizard v-bind:steps="steps" ></pallet-transfer-wizard>
            </div>
            <div id="manage" style="display:none" class="col-xs-12">
                <administration></administration>
            </div>
        </div>

        <script type="text/x-template" id="administration-template">
            <div class="col-sm-6 col-md-4">                
                <div id="essences" class="panel panel-default ">
                    <div class="panel-heading">
                        <span>Esente<span>
                        <button style="font-size:11px; float:right;padding: 0 0 0 0" v-on:click="printMe"><span class="glyphicon glyphicon-print"/></button>
                    </div>                    
                    <div class="panel-body">
                        <div>
                            <input type="text" placeholder="Nume" size="10" v-model="newessence.name"/>
                            <input type="text" placeholder="Cod" size="2" v-model="newessence.code"/>
                            <button class="btn btn-sm btn-success" v-on:click="addMe">Adauga</button>
                        </div>
                        <hr/>
                        <table class="table table-striped">
                            <thead>
                                <td>Nume</td><td colspan="2">Cod</td>
                            </thead>                     
                            <tbody>
                                <tr v-for="essence in essences">
                                    <td >
                                        <span v-if="essence.editmode"><input type="text" v-model="essence.name"/></span>
                                        <span v-else>{{ essence.name }}</span>
                                    </td>
                                    <td >
                                            <span v-if="essence.editmode"><input type="text" v-model="essence.code"/></span>
                                            <span v-else>{{ essence.code }}</span>
                                    </td>
                                    <td style="width:80px">
                                        <span v-if="essence.editmode">
                                            <button 
                                                class="btn btn-xs btn-success" 
                                                v-on:click="saveMe(essence)">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        </span>
                                        <span v-else>
                                            <button 
                                                class="btn btn-xs btn-warning" 
                                                v-on:click="editMe(essence)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button class="btn btn-xs btn-danger" v-on:click="removeMe(essence)">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>                                        
                                        </span>                                        
                                    </td>
                                </tr>
                            </tbody>   
                        </table>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/x-template" id="pallet-transfer-wizard-template">
            <div style="margin:0; padding:0">                
                <div class="pane" id="header" style="text-align:center">                
                    <div v-if="this.message" style="color:red"><h2>{{this.message}}</h2></div>
                    <div><h1>{{this.step.prompt}}</h1></div>                    
                    <input type="text" autofocus id="source" ref="source" v-on:keyup.enter="confirmStep" v-model="inputvalue"/>      
                                                   
                    <select v-if="this.materialsVisible" v-on:change="createPallet" id="material" name="material" v-model="material">
                        <option v-for="essence in essences" v-bind:value="essence.id">
                            {{ essence.name }}
                        </option>        
                    </select>
                    <span v-if="this.materialsVisible">{{this.material}}</span>
                </div>
                <div class="row" style="margin:0; padding:0">
                    <div class="col-sm-12" style="margin:0; padding:0">
                        <div class="col-sm-4" style="margin:0; padding:0">
                            <palet-sursa v-bind:pallet="source_pallet" 
                                v-on:paletNou="paletNou"
                                v-on:printMe="printSource"
                                v-on:selectMe="selectSource"
                                v-bind:scanneditem="this.scanneditem"></palet-sursa>
                        </div>
                        <div class="col-sm-8" style="margin:0; padding:0">
                            <div class="row" style="margin:0;padding:0">
                                <div class="col-sm-12" style="margin:0; padding:0">
                                    <div class="col-sm-3" v-bind:class="{selected:this.dest_index==0}" style="margin:0;padding:0">
                                        <palet-dest v-bind:pallet="dest_pallet[0]" 
                                            v-on:printMe="printIndex(0)"     
                                            v-on:selectMe="selectIndex(0)" 
                                            v-bind:scanneditem="this.scanneditem"></palet-dest>
                                    </div>
                                    <div class="col-sm-3" v-bind:class="{selected:this.dest_index==1}" style="margin:0;padding:0">
                                        <palet-dest v-bind:pallet="dest_pallet[1]" 
                                            v-on:printMe="printIndex(1)"     
                                            v-on:selectMe="selectIndex(1)" 
                                            v-bind:scanneditem="this.scanneditem"></palet-dest>
                                    </div>
                                    <div class="col-sm-3" v-bind:class="{selected:this.dest_index==2}" style="margin:0;padding:0">
                                        <palet-dest v-bind:pallet="dest_pallet[2]" 
                                            v-on:printMe="printIndex(2)"     
                                            v-on:selectMe="selectIndex(2)" 
                                            v-bind:scanneditem="this.scanneditem"></palet-dest>
                                    </div>
                                    <div class="col-sm-3" v-bind:class="{selected:this.dest_index==3}" style="margin:0;padding:0">
                                        <palet-dest v-bind:pallet="dest_pallet[3]" 
                                            v-on:printMe="printIndex(3)"     
                                            v-on:selectMe="selectIndex(3)" 
                                            v-bind:scanneditem="this.scanneditem"></palet-dest>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </script>

        <script type="text/x-template" id="source-pallet-template">            
            <div>
                <div class="alert alert-info" style="font-size:20px">
                    Palet sursa <span v-if="pallet!=null">{{pallet}}</span>
                    <button style="font-size:11px;float:right;padding: 0 0 0 0" v-on:click="selectMe">Sel</button>
                    <button style="font-size:11px; float:right;padding: 0 0 0 0" v-on:click="printMe"><span class="glyphicon glyphicon-print"/></button>
                    <button style="font-size:11px;float:right;padding: 0 0 0 0" v-on:click="paletNou">Palet nou <span class="glyphicon glyphicon-plus"/></button>
                </div>
                <div v-if="pallet!=null">
                    <table style="width:100%">
                        <tr style="background-color:#333333; color: white; font-weight: bold"><td>Tr</td><td>L</td><td>l</td><td>Foi</td><td></td></tr>
                        <tr v-for="item in items">
                            <td>{{item.scanned.original_pallet}}</td>
                            <td>{{item.scanned.length}}</td>
                            <td>{{item.scanned.width}}</td>
                            <td>{{item.scanned.sheet_count}}</td>
                            <td style="width:15pt">
                                <button style="font-size:11px; float:right; padding: 0 0 0 0" 
                                    v-bind:name="item.barcode" class="btn btn-sm" v-on:click="transfer(item.barcode)">
                                    <span class="glyphicon glyphicon-forward"/>
                                </button>
                            </td>
                        </tr>
                    </table>                        
                </div>
            </div>
        </script>

        <script type="text/x-template" id="dest-pallet-template">            
            <div>
                <div class="alert alert-info col-sm-12" style="font-size:20px">
                    Plt dst <span v-if="pallet!=null">{{pallet}}</span> 
                    <button style="font-size:11px;float:right;padding: 0 0 0 0" v-on:click="selectMe">Sel</button>
                    <button style="font-size: 11px; float: right;padding: 0 0 0 0" v-on:click="printMe"><span class="glyphicon glyphicon-print"></span></button>
                </div>                        
                <div v-if="pallet!=null">
                    <table style="width:100%">
                        <tr style="background-color:#333333; color: white; font-weight: bold"><td>Tr</td><td>L</td><td>l</td><td>Foi</td></tr>
                        <tr v-for="item in items">
                            <td>{{item.scanned.original_pallet}}</td>
                            <td>{{item.scanned.length}}</td>
                            <td>{{item.scanned.width}}</td>
                            <td>{{item.scanned.sheet_count}}</td>
                        </tr>
                    </table>                               
                </div>                
            </div>
        </script>

        <script>
            var bus = new Vue();
            /////////////////////////////////////
            // Administrare
            /////////////////////////////////////
            Vue.component('administration', {
                template: "#administration-template",
                data: function(){
                    return {
                        essences: new Array(),
                        newessence: {name:"", code:""}
                    }
                },
                created: function(){
                    this.essences = new Array();                    
                    this.newessence = {name:"", code:""};
                    this.populate();
                },
                methods: {
                    printMe: function(){
                        window.open("/essence?print=true","_blank");
                    },  
                    populate: function(){
                        axios.get("/essence")
                            .then(r => {
                                console.log(r);
                                this.essences = new Array();
                                for(i=0;i<r.data.length;i++){
                                    this.essences.push(r.data[i]);
                                }     
                                this.$forceUpdate();   
                                //alert(r);
                            })
                            .catch(function(error){
                                if(error.response &&
                                    error.response.data &&
                                    error.response.data.message){
                                    alert(error.response.data.message)
                                }else{
                                    alert(error);
                                }
                            });
                    },
                    addMe: function(){               
                        var me = this;         
                        axios.post(
                            "/essence",
                            this.newessence
                        ).then(function(response){                     
                            me.populate();
                            me.newessence.name = "";
                            me.newessence.code = "";
                        }).catch(function(e){
                            me.err(e)
                        });
                    },
                    removeMe: function(essence){
                        if(!confirm("Sigur doriti stergerea esentei selectate? (" + essence.name + ")")){
                            return;
                        }
                        var me = this;         

                        axios.delete("/essence?id="+essence.id)
                            .then(function(response){
                                me.populate();
                            })
                            .catch(function(e){
                                me.err(e)
                            });
                    },
                    editMe: function(essence){
                        essence.editmode = true;
                        this.$forceUpdate(); 
                    },
                    saveMe: function(essence) {
                        var me = this;         
                        axios.put("/essence", essence)
                        .then(function(response){                     
                            me.populate();                            
                        }).catch(function(e){
                            me.err(e)
                        });
                    },
                    err: function(error){
                            if(error.response &&
                                error.response.data &&
                                error.response.data.message){
                                alert(error.response.data.message)
                            }else{
                                alert(error);
                            }
                        }
                }
            });

            new Vue({
                el: '#manage',
                data: {}
            });

            /////////////////////////////////////
            //Mutare
            /////////////////////////////////////
            Vue.component('palet-sursa',{
                template: "#source-pallet-template",
                props: ['pallet','scanneditem'],
                data: function(){
                    return {
                        items: new Array(),
                        palletid: null
                    };
                },
                created: function(){
                    this.pallet = null;
                    this.items = new Array();
                },
                watch:{
                    pallet : function(val){
                        this.palletid=val;
                        this.populate();                               
                    },
                    scanneditem: function(val){
                        if(val!=0){
                            this.populate();
                        }                        
                    }
                },
                methods:{
                    selectMe: function(){
                        this.$emit('selectMe');
                    },
                    printMe: function(){
                        this.$emit('printMe');
                    },
                    paletNou: function(){
                        this.$emit('paletNou');
                    },
                    transfer: function(barcode){
                        bus.$emit('initTransfer',barcode);
                    },
                    initialize: function(){
                        console.log("Initialized")
                        this.items = new Array();
                        //this.pallet = null;                        
                    },
                    populate: function(){
                        this.initialize();
                        if(!this.palletid){
                            return;
                        }
                        console.log("Src pallet: "+this.palletid)
                        axios.get("/piece?pallet_id="+this.palletid)
                            .then(r => {
                                console.log(r.data);
                                for(i=0;i<r.data.length;i++){
                                    this.items.push(r.data[i]);
                                }     
                                this.$forceUpdate();        
                            })
                            .catch(function(err){
                                this.items = [];
                                if(error.response &&
                                    error.response.data &&
                                    error.response.data.message){
                                    alert(error.response.data.message)
                                }else{
                                    alert(error);
                                }
                            });
                    }
                }
            });

            Vue.component('palet-dest',{
                template: "#dest-pallet-template",
                props: ['pallet','scanneditem','resetdest'],  
                data: function(){
                    return {
                        items: new Array(),
                        palletid:null
                    };
                },
                created: function(){
                    this.initialize();
                },
                watch:{
                    pallet : function(val){
                        this.palletid = val;
                        this.populate();
                    },
                    scanneditem: function(val){ 
                        if(val!=0){
                            this.populate();
                        }
                    }
                
                },
                methods: {
                    selectMe: function(){
                        this.$emit('selectMe');
                    },
                    printMe: function(){
                        this.$emit('printMe');
                    },
                    initialize: function(){
                        console.log("Initialized")
                        this.items = new Array();
                        //this.pallet = null;                        
                    },
                    populate: function(){
                        this.initialize(); 
                        if(this.palletid==null){
                            return;
                        }
                        axios.get("/piece?pallet_id="+this.palletid)
                            .then(r => {
                                console.log(r.data);
                                for(i=0;i<r.data.length;i++){
                                    this.items.push(r.data[i]);
                                }              
                                this.$forceUpdate();
                            })
                            .catch(function(err){
                                this.items = [];
                                if(error.response &&
                                    error.response.data &&
                                    error.response.data.message){
                                    alert(error.response.data.message)
                                }else{
                                    alert(error);
                                }
                            });
                    }
                    /*showitems: function(){
                        console.log(this.items);
                    }*/
                }            
            });

            Vue.component('pallet-transfer-wizard',{
                template: "#pallet-transfer-wizard-template",
                props:['dest_index','steps','test','inputvalue'],
                methods: {
                    data: function(){
                        return {
                            dest_pallet:[null,null,null,null],
                            dest_index:null,
                            source_pallet:null,
                            scanneditem: null,
                            materialsVisible: false,
                            material: "",
                            essences:[],
                            flagPaletNou: false,
                            message: "ssss"
                        }
                    },
                    initTransfer: function(barcode){
                        this.inputvalue = barcode;
                        this.confirmStep();
                        this.$refs.source.focus();
                    },
                    selectIndex: function(ix){
                        this.message = "";   
                        if(this.dest_pallet && this.dest_pallet[ix] && this.dest_index!=ix){
                            this.dest_index=ix;
                            this.inputvalue = "";                        
                        } else {
                            this.inputvalue = "palet dest"+(ix+1);
                            this.confirmStep();
                            this.$refs.source.focus();
                        }
                    },
                    printIndex: function(ix){
                        this.message = "";   
                        if(this.dest_pallet && this.dest_pallet[ix]){                            
                            this.inputvalue = "print dest"+(ix+1);
                            this.confirmStep();
                            this.$refs.source.focus();
                        }
                    },
                    selectSource: function(){
                        this.message = "";
                        this.inputvalue = "palet sursa";
                        this.confirmStep();
                        this.$refs.source.focus();
                    },
                    printSource: function(){
                        this.message = "";   
                        if(this.source_pallet){                            
                            this.inputvalue = "print sursa";
                            this.confirmStep();
                            this.$refs.source.focus();
                        }
                    },
                    paletNou: function(){
                        this.inputvalue = "palet nou";
                        this.confirmStep();
                        this.$refs.source.focus();
                    },
                    confirmStep:function(){         
                        this.message = "";               
                        console.log("*********************"+this.inputvalue);
                        if(this.inputvalue=="print dest1"){
                            this.printPallet(this.dest_pallet[0]);
                            this.inputvalue = "";
                        }else if(this.inputvalue=="print dest2"){
                            this.printPallet(this.dest_pallet[1]);
                            this.inputvalue = "";
                        }else if(this.inputvalue=="print dest3"){
                            this.printPallet(this.dest_pallet[2]);
                            this.inputvalue = "";
                        }else if(this.inputvalue=="print dest4"){
                            this.printPallet(this.dest_pallet[3]);
                            this.inputvalue = "";
                        }else if(this.inputvalue=="sel dest1"){
                            this.selectIndex(0);
                        }else if(this.inputvalue=="sel dest2"){
                            this.selectIndex(1);
                        }else if(this.inputvalue=="sel dest3"){
                            this.selectIndex(2);
                        }else if(this.inputvalue=="sel dest4"){
                            this.selectIndex(3);
                        }else if(this.inputvalue=="print sursa"){
                            this.printPallet(this.source_pallet);                            
                            this.inputvalue = "";
                        }else if(this.inputvalue=="palet nou"){
                            this.essences = [];
                            this.showMaterials();
                            this.flagPaletNou = true;
                        }else{
                            if(this.flagPaletNou){
                                console.log(this.flagPaletNou);
                                var found = false;
                                var ess = this.inputvalue;
                                if(!ess.indexOf("-")){
                                    this.message = "Invalid essence selected";
                                    return;
                                }
                                
                                ess = ess.substr(ess.indexOf("-")+1).trim()
                                //search for new pallet essence choice
                                for(i=0;i<this.essences.length;i++){
                                    essence = this.essences[i];
                                    if(essence.id==ess){
                                        this.material = essence.id;
                                        found=true;
                                        break;
                                    }
                                }
                                if(!found){                                    
                                    if(!arrContains(Object.keys(this.steps),this.inputvalue)){
                                        alert("Esenta necunoscuta!");
                                        return;
                                    }
                                }                                
                                this.createPallet();
                                return;
                            }                            
                            this.hideMaterials();
                        }
                        //if we do not have a new command, we perform our task
                        if(!arrContains(Object.keys(this.steps),this.inputvalue)){
                            if(this.inputvalue == ""){
                                return;
                            }
                            if(!this.step.checkValidity(this.inputvalue)){
                                alert("Valoare invalida");
                                return;
                            }
                            this.step.perform({"parent":this,"input":this.inputvalue});
                            this.step = this.steps["start"];
                            
                        }
                        //if the value scanned is a command, then we start that command
                        //if that command can follow the present commmand
                        else{    
                            this.step = this.steps[this.inputvalue];    
                            console.log(this.step.prompt);                        
                            this.step.perform(null);                            
                        }
                        this.inputvalue = "";
                    },
                    showMaterials: function(){
                        console.log("Material shown");                        
                        axios.get("/essence").then(
                            r => { 
                                this.essences = r.data;
                                this.materialsVisible = true; 
                                this.material = 0;
                                this.$forceUpdate();
                                }
                            );
                    }
                    ,
                    hideMaterials: function(){
                        this.materialsVisible = false;
                    },
                    transfer: function(item){                        
                        if(this.source_pallet && (this.dest_index || this.dest_index==0)){
                            console.log("Mut itemul "+item+" din "+this.source_pallet+" in "+this.dest_pallet[this.dest_index]);
                            me = this;
                            me.scanneditem = 0;                            
                            axios.post(
                                "/transfer",
                                {
                                    source_pallet_id: Number(this.source_pallet),
                                    dest_pallet_id: Number(this.dest_pallet[this.dest_index]),
                                    piece: item
                                }
                            ).then(function(response){                                
                                me.scanneditem = item;
                                me.$forceUpdate();      
                            }).catch(function(error){
                                if(error.response &&
                                    error.response.data &&
                                    error.response.data.message){
                                    alert(error.response.data.message)
                                }else{
                                    alert(error);
                                }
                            });
                        }else{
                            alert("Trebuie sa aveti alese atat paletul sursa cat si cel destinatie!"+this.dest_index);
                        }
                    }
                    ,
                    createPallet: function(){                 
                        
                        axios.post("/pallet",{id:0,essence:{id:this.material}})
                            .then(r=>{
                                this.inputvalue=this.material;                                
                                this.flagPaletNou = false;
                                this.$forceUpdate();                                
                                this.confirmStep();
                                window.open("/pallet?print="+r.data.id,"_blank");
                            })
                            .catch(function(error){
                                if(error.response && 
                                    error.response.data &&
                                    error.response.data.message){
                                    this.message = error.response.data.message;
                                }else{
                                    alert(error);
                                }
                            });
                    }
                    ,
                    initialize: function(){
                        this.step = this.steps["palet sursa"];
                        this.source_pallet = null;                    
                        this.dest_pallet = Array();
                        this.dest_index = null;
                        this.inputvalue = "";
                        //this.material="dddd";
                        
                    },                    
                    printPallet: function(pallet){
                        if(!pallet){
                            this.message = "Nu ati selectat paletul";
                            return;
                        }else{
                            window.open("/pallet?print="+pallet,"_blank");
                        }
                    }
                },                                
                created: function(){                                        
                    this.initialize();
                    bus.$on("initTransfer",this.initTransfer);
                }
            });
            new Vue({
                el: '#pallet-transfer',
                data: {
                    steps: {
                        "palet nou":{
                            prompt: "Alegeti tipul de material",
                            type: "palet nou", 
                            okMsg: "Palet nou creat", 
                            cancelMsg: "Creare palet nou anulata", 
                            followedBy: ["palet sursa", "palet dest"],
                            checkValidity: function(value){
                                return true;
                            },
                            perform: function(value){
                                if(value){
                                    
                                    console.log(value);
                                }
                            }
                        },                        
                        "start":{
                            prompt: null,
                            type: "start", 
                            okMsg: "Transfer initializat", 
                            cancelMsg: "Transfer anulat", 
                            followedBy: ["palet nou"],
                            checkValidity: function(value){
                                return true;
                            },
                            perform: function(value){
                                if(value){
                                    this.parent = value.parent;
                                    console.log("start: "+value);
                                    value.parent.transfer(value.input);
                                    //value.parent.scanneditem=value.input;
                                }
                            }
                        },
                        "palet sursa":{
                            prompt: "Alege palet sursa",
                            type: "palet sursa", 
                            okMesaj: "Palet sursa ales", 
                            cancelMsg: "Alegere palet sursa anulata",
                            followedBy: ["palet nou", "palet dest"],
                            checkValidity: function(value){
                                return true;
                            },
                            perform: function(value){
                                if(value){
                                    axios.get("/pallet?id="+value.input)
                                    .then(r => {                                        
                                        if(!r.data.hasOwnProperty("id")){
                                            value.parent.message="Paletul "+value.input+" nu exista!";
                                            value.parent.$forceUpdate();
                                            return;
                                        }
                                        value.parent.message = null;
                                        value.parent.source_pallet = value.input;
                                        value.parent.$forceUpdate();
                                    })
                                    .catch(function(err){
                                        if(error.response && 
                                            error.response.data &&
                                            error.response.data.message){
                                            value.parent.message=error.response.data.message;
                                            value.parent.$forceUpdate();
                                        }else{
                                            alert(error);
                                        }
                                    });                                    
                                }
                            }
                        },
                        "palet dest1":palletDest(0),
                        "palet dest2":palletDest(1),
                        "palet dest3":palletDest(2),
                        "palet dest4":palletDest(3)
                    },                       
                    data:{
                        inputValue: function(){
                            return "";
                        }                        
                    }
                    
                }
            });
                        
            function onLoad(){    
                document.getElementById("source").focus();
            }

            function arrContains(arr,value){
                console.log(arr);
                for(val in arr){
                    if(arr[val]===value){
                        return true;
                    }
                }
                return false;
            }
            function printOperations(){
                window.open("/operations","_blank");
            }

            function clearActive(){
                Array.from(document.getElementsByClassName("active")).forEach(
                    function(el){
                        el.classList.remove("active");
                    }
                );
            }

            function showAdministrare(){                
                clearActive();
                document.getElementById("pallet-transfer").style.display="none";
                document.getElementById("manage").style.display="block";
                document.getElementById("mnuAdministrare").classList.add("active");

            }

            function showMutareFurnir(){
                clearActive();
                document.getElementById("pallet-transfer").style.display="block";
                document.getElementById("manage").style.display="none";
                document.getElementById("mnuMutare").classList.add("active");
            }

            function palletDest(ix){
                var d = {
                    prompt: "Alege palet dest "+(ix+1),
                    type: "palet desti", 
                    okMesaj: "Palet destinatie ales", 
                    cancelMsg: "Alegere palet destinatie anulata",
                    followedBy: ["palet nou"],
                    index: ix,
                    checkValidity: function(value){
                        return true;
                    },
                    perform: function(value){
                        if(value){        
                            axios.get("/pallet?id="+value.input)
                            .then(r => {                                        
                                if(!r.data.hasOwnProperty("id")){
                                    value.parent.message="Paletul "+value.input+" nu exista!";
                                    value.parent.$forceUpdate();
                                    return;
                                }
                                value.parent.message = null;
                                value.parent.dest_pallet[ix] = value.input;
                                value.parent.dest_index = ix;
                                value.parent.$forceUpdate();
                            })
                            .catch(function(error){
                                if(error.response && 
                                    error.response.data &&
                                    error.response.data.message){
                                    value.parent.message=error.response.data.message;
                                    value.parent.$forceUpdate();
                                }else{
                                    alert(error);
                                }
                            });                                    
                        }
                    }
                };
                return d;
            }
            
        </script>
    </body>

</html>