<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./css/bootstrap-theme.min.css"/>
        <script src="./js/bootstrap.min.js" ></script>
        <script src="./js/vue.js"></script>
        <script src="./js/axios.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navar-header">
                    <a class="navbar-brand" href="#">Management furnir</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Mutare furnir</a></li>
                    <li><a href="#">Rapoarte</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><div class="navar-header">
                        <img src="images/logo1mic.png" class="navbar-brand" style="padding:0"/>
                    </div></li>
                  </ul>                  
            </div>
        </nav>
        <div class="container-fluid">
            <div id="pallet-transfer" class="col-xs-12" >
                <pallet-transfer-wizard v-bind:steps="steps" ></pallet-transfer-wizard>
            </div>
        </div>
        <script type="text/x-template" id="pallet-transfer-wizard-template">
            <div>                
                <div class="pane" id="header" style="text-align:center">                
                    <div v-if="this.message" style="color:red"><h2>{{this.message}}</h2></div>
                    <div><h1>{{this.step.prompt}}</h1></div>                    
                    <input type="text" id="source" v-on:keyup.enter="confirmStep" v-model="inputvalue"/>      
                                                   
                    <select v-if="this.materialsVisible" v-on:change="createPallet" id="material" name="material" v-model="material">
                            <option v-for="essence in essences" v-bind:value="essence.id">
                                    {{ essence.name }}
                            </option>        
                    </select>
                    <span v-if="this.materialsVisible">{{this.material}}</span>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <palet-sursa v-bind:pallet="source_pallet" v-bind:scanneditem="this.scanneditem"></palet-sursa>
                    </div>
                    <div class="col-sm-6">
                        <palet-dest v-bind:pallet="dest_pallet" v-bind:scanneditem="this.scanneditem"></palet-dest>
                    </div>
                </div>
            </div>
            
        </script>

        <script type="text/x-template" id="source-pallet-template">            
            <div>
                <div class="alert alert-info" style="font-size:20px">Palet sursa <span v-if="pallet!=null">{{pallet}}</span></div>
                <div v-if="pallet!=null">
                    <div v-for="item in items">{{item}}</div> 
                </div>
            </div>
        </script>

        <script type="text/x-template" id="dest-pallet-template">            
            <div>
                <div class="alert alert-info"style="font-size:20px">Palet dest <span v-if="pallet!=null">{{pallet}}</span> </div>
                <div v-if="pallet!=null">
                    <div v-for="item in items">{{item}}</div>                    
                </div>
            </div>
        </script>

        <script>
            Vue.component('palet-sursa',{
                template: "#source-pallet-template",
                props: ['pallet','scanneditem'],
                data: function(){
                    return {
                        items: new Array()
                    };
                },
                created: function(){
                    this.pallet = null;
                    this.items = new Array();
                },
                watch:{
                    pallet : function(val){
                        this.initialize();                               
                        axios.get("/piece?pallet_id="+val)
                            .then(r => {
                            for(i=0;i<r.data.length;i++){
                                this.items.push(r.data[i].barcode);
                            }                                
                            })
                            .catch(function(err){
                                this.items = [];
                                alert(err);
                            });
                        },
                        scanneditem: function(val){
                            //alert(val);
                        }
                },
                methods:{
                    initialize: function(){
                        console.log("Initialized")
                        this.items = new Array();
                        //this.pallet = null;                        
                    }
                }
            });

            Vue.component('palet-dest',{
                template: "#dest-pallet-template",
                props: ['pallet','scanneditem','resetdest'],  
                data: function(){
                    return {
                        items: new Array()
                    };
                },
                created: function(){
                    this.initialize();
                },
                watch:{
                    pallet : function(val){
                        this.initialize(); 
                        if(this.pallet==null){
                            return;
                        }
                        axios.get("/piece?pallet_id="+val)
                            .then(r => {
                            for(i=0;i<r.data.length;i++){
                                this.items.push(r.data[i].barcode);
                            }                                
                            })
                            .catch(function(err){
                                this.items = [];
                                alert(err);
                            });
                              
                    },
                    scanneditem: function(val){ 
                        console.log(val);                           
                        this.items.push(val);
                        console.log(this.items);
                    }
                
                },
                methods: {
                    initialize: function(){
                        console.log("Initialized")
                        this.items = new Array();
                        //this.pallet = null;                        
                    }
                    /*showitems: function(){
                        console.log(this.items);
                    }*/
                }            
            });

            Vue.component('pallet-transfer-wizard',{
                template: "#pallet-transfer-wizard-template",
                props:['steps','test','inputvalue'],
                methods: {
                    data: function(){
                        return {
                            dest_pallet:null,
                            source_pallet:null,
                            scanneditem: null,
                            materialsVisible: false,
                            material: "",
                            essences:[],
                            flagPaletNou: false,
                            message: "ssss"
                        }
                    },
                    confirmStep:function(){                        
                        console.log("*********************"+this.inputvalue);
                        if(this.inputvalue=="palet nou"){
                            this.essences = [];
                            this.showMaterials();
                            this.flagPaletNou = true;
                        }else{
                            if(this.flagPaletNou){
                                console.log(this.flagPaletNou);
                                var found = false;
                                //search for new pallet essence choice
                                for(i=0;i<this.essences.length;i++){
                                    essence = this.essences[i];
                                    if(essence.id==this.inputvalue){
                                        this.material = essence.id;
                                        found=true;
                                        break;
                                    }
                                }
                                if(!found){                                    
                                    if(!arrContains(Object.keys(this.steps),this.inputvalue)){
                                        alert("Esenta necunoscuta!");
                                        return;
                                    }
                                }                                
                                this.createPallet();
                                return;
                            }                            
                            this.hideMaterials();
                        }
                        //if we do not have a new command, we perform our task
                        if(!arrContains(Object.keys(this.steps),this.inputvalue)){
                            if(!this.step.checkValidity(this.inputvalue)){
                                alert("Valoare invalida");
                                return;
                            }
                            this.step.perform({"parent":this,"input":this.inputvalue});
                            this.step = this.steps["start"];
                            
                        }
                        //if the value scanned is a command, then we start that command
                        //if that command can follow the present commmand
                        else{    
                            this.step = this.steps[this.inputvalue];    
                            console.log(this.step.prompt);                        
                            this.step.perform(null);                            
                        }
                        this.inputvalue = "";
                    },
                    showMaterials: function(){
                        console.log("Material shown");                        
                        axios.get("/essence").then(
                            r => { 
                                this.essences = r.data;
                                this.materialsVisible = true; 
                                this.material = 0;
                                this.$forceUpdate();
                                }
                            );
                    }
                    ,
                    hideMaterials: function(){
                        this.materialsVisible = false;
                    },
                    transfer: function(item){
                        if(this.source_pallet && this.dest_pallet){
                            console.log("Mut itemul "+item+" din "+this.source_pallet+" in "+this.dest_pallet);
                            this.scanneditem = item;
                        }else{
                            alert("Trebuie sa aveti alese atat paletul sursa cat si cel destinatie!");
                        }
                    }
                    ,
                    createPallet: function(){                 
                        
                        axios.post("/pallet",{id:0,essence:{id:this.material}})
                            .then(r=>{
                                this.inputvalue=this.material;                                
                                this.flagPaletNou = false;
                                this.$forceUpdate();                                
                                this.confirmStep();                                
                            }                            
                            )
                            .catch(function(error){
                                alert(error);
                            });
                    }
                    ,
                    initialize: function(){
                        this.step = this.steps["palet sursa"];
                        this.source_pallet = null;                    
                        this.dest_pallet = null;
                        this.inputvalue = "";
                        //this.material="dddd";
                        
                    }
                },                                
                created: function(){                                        
                    this.initialize();
                }
            });
            new Vue({
                el: '#pallet-transfer',
                data: {
                    steps: {
                        "palet nou":{
                            prompt: "Alegeti tipul de material",
                            type: "palet nou", 
                            okMsg: "Palet nou creat", 
                            cancelMsg: "Creare palet nou anulata", 
                            followedBy: ["palet sursa", "palet dest"],
                            checkValidity: function(value){
                                return true;
                            },
                            perform: function(value){
                                if(value){
                                    
                                    console.log(value);
                                }
                            }
                        },                        
                        "start":{
                            prompt: null,
                            type: "start", 
                            okMsg: "Transfer initializat", 
                            cancelMsg: "Transfer anulat", 
                            followedBy: ["palet nou"],
                            checkValidity: function(value){
                                return true;
                            },
                            perform: function(value){
                                if(value){
                                    this.parent = value.parent;
                                    console.log("start: "+value);
                                    value.parent.transfer(value.input);
                                    //value.parent.scanneditem=value.input;
                                }
                            }
                        },
                        "palet sursa":{
                            prompt: "Alege palet sursa",
                            type: "palet sursa", 
                            okMesaj: "Palet sursa ales", 
                            cancelMsg: "Alegere palet sursa anulata",
                            followedBy: ["palet nou", "palet dest"],
                            checkValidity: function(value){
                                return true;
                            },
                            perform: function(value){
                                if(value){
                                    axios.get("/pallet?id="+value.input)
                                    .then(r => {                                        
                                        if(!r.data.hasOwnProperty("id")){
                                            value.parent.message="Paletul "+value.input+" nu exista!";
                                            value.parent.$forceUpdate();
                                            return;
                                        }
                                        value.parent.message = null;
                                        value.parent.source_pallet = value.input;
                                        value.parent.$forceUpdate();
                                    })
                                    .catch(function(err){
                                        alert(err);
                                    });                                    
                                }
                            }
                        },
                        "palet dest":{
                            prompt: "Alege palet dest",
                            type: "palet desti", 
                            okMesaj: "Palet destinatie ales", 
                            cancelMsg: "Alegere palet destinatie anulata",
                            followedBy: ["palet nou"],
                            checkValidity: function(value){
                                return true;
                            },
                            perform: function(value){
                                if(value){        
                                    axios.get("/pallet?id="+value.input)
                                    .then(r => {                                        
                                        if(!r.data.hasOwnProperty("id")){
                                            value.parent.message="Paletul "+value.input+" nu exista!";
                                            value.parent.$forceUpdate();
                                            return;
                                        }
                                        value.parent.message = null;
                                        value.parent.dest_pallet = value.input;
                                        value.parent.$forceUpdate();
                                    })
                                    .catch(function(err){
                                        alert(err);
                                    });                                    
                                }
                            }
                        },
                    },
                    data:{
                        inputValue: function(){
                            return "";
                        }                        
                    }
                    
                }
            });
                
            window.onload=onLoad;
            function onLoad(){                

            }

            function arrContains(arr,value){
                console.log(arr);
                for(val in arr){
                    if(arr[val]===value){
                        return true;
                    }
                }
                return false;
            }
        </script>
    </body>

</html>